footer{
    grid-area: footer;
    width: 100vw;
    background-color: $secondaryColor;
    @include flex-set(row, center, space-between, nowrap);
    padding: 2vw;
    .contact{
        @include flex-set(row, center, normal, nowrap);
        h2{
            display: none;
        }
        .email_whatsapp{
            @include flex-set(column, flex-start, normal, nowrap);
            .email, .whatsapp{
                @include flex-set(row, center, normal, nowrap);
                font-size: 3vw;
                img{
                    @include size (7vw, 7vw);
                    margin: 10px 5px 5px 10px;
                }
                .link{
                    color: whitesmoke;
                    text-decoration: underline;
                    margin-left: 1vw;
                }
            }
        }
    }
    .social_media{
        @include flex-set(row, center, space-between, nowrap);
        h2{
            display: none;
        }
        img{
            @include size (7vw, 7vw);
            margin: 10px;
        } 
    }
}

@include media-up(desktop){
    footer{
        padding: .5vw;
    }
    .contact{
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0px;
        padding: 0px;
        h2{
            display: inline-block;
            font-size: 30px;
        }
        .email_whatsapp{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: nowrap;
            .email, .whatsapp{
                display: inline-flex;
                flex-wrap: nowrap;
                align-items: center;
                img{
                    width: 6vh;
                    height: 6vh;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .link{
                    text-decoration: underline;
                    font-size: 22px;
                }
            }
        }
    }
    .social_media{
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        h2{
            display: inline-block;
            font-size: 30px;
        }
        img{
            width: 6vh;
            height: 6vh;
            margin: 10px;
        }
    }
}